{% load static %}
<!DOCTYPE html>
<html>
  <title>Gereciador de Atividades</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

    body, html {
    height: 100%;
    line-height: 1.8;
    }

    .bgimg-1 {
    background-size: cover;
    background-image: url({% static 'img/fundo.jpg' %});
    min-height: 100%;
    }
  </style>
  <body>

  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
      <a href="{% url 'home'%}" class="w3-bar-item w3-button w3-wide"><i class="fa fa-home"></i>Home</a>
      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small">
        <a href="{% url 'listar_tarefas'%}" class="w3-bar-item w3-button"><i class="fa fa-th"></i>Tarefas</a>
        <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-users"></i>Grupos</a>
        <a href="{% url 'listar_alunos'%}" class="w3-bar-item w3-button"><i class="fa fa-user"></i>Alunos</a>
      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->

      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>

  <!-- Sidebar on small screens when clicking the menu icon -->
  <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
    <a href="{% url 'listar_tarefas'%}" onclick="w3_close()" class="w3-bar-item w3-button">Tarefas</a>
    <a href="#"onclick="w3_close()" class="w3-bar-item w3-button">Grupos</a>
    <a href="{% url 'importar'%}" onclick="w3_close()" class="w3-bar-item w3-button">Alunos</a>
  </nav>

  <!-- Header with full-height image -->
  <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
    {% block body%}
              
    {% endblock %}
  </header>
  <footer class="container-fluid bg-4 text-center">
    <p> <strong>Copyright © 2014-2019 <a href="#">Gerenciador de Atividades</a>.</strong> All rights
      reserved.</p> 
  </footer>
  <script>
  // Modal Image Gallery
  function onClick(element) {
    document.getElementById("img01").src = element.src;
    document.getElementById("modal01").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = element.alt;
  }


  // Toggle between showing and hiding the sidebar when clicking the menu icon
  var mySidebar = document.getElementById("mySidebar");

  function w3_open() {
    if (mySidebar.style.display === 'block') {
      mySidebar.style.display = 'none';
    } else {
      mySidebar.style.display = 'block';
    }
  }

  // Close the sidebar with the close button
  function w3_close() {
      mySidebar.style.display = "none";
  }
  </script>

  </body>
</html>
