{% extends "base.html" %}
{% block body %}
	<div class="w3-display-center" style="margin-left: 4%; margin-right: 4%; padding-top: 5%;">
		<h2 class="w3-text-white" style="text-shadow:1px 1px 0 #444"><a href="{% url 'listar_alunos'%}"><i class='fas fa-arrow-alt-circle-left' style='font-size:24px'></i></a> <strong>Selecionar grupo para :</strong> {{aluno.nome}}</h2>
		<div class="w3-large">
			<form method="post" action="{% url 'grupo_aluno' aluno.id %}">
				{% csrf_token %}
				<div class="row">
					<div class="col-lg-12">
						<label class="control-label"><strong>Grupo</strong></label>
						<select class="form-control" name="group">
							{% for grupo in grupos %}
								<option value={{grupo.id}}>{{grupo.descricao}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="mt-3 w3-right">
					<button type="submit" class="btn btn-success">Confirmar</button>
				</div>
			</form>
		</div>
	</div> 
{% endblock %}