{% extends "base.html" %}
{% block body %}
	<div class="w3-display-left" style="padding:48px">
		<p class="w3-jumbo w3-hide-small w3-text-white" style="text-shadow:1px 1px 0 #444"><strong>Sistema de gerenciamento de atividades</strong></p>
		<p class="w3-xxlarge w3-hide-large w3-hide-medium w3-text-white" style="text-shadow:1px 1px 0 #444"><strong>Sistema de gerenciamento de atividades</strong></p>
		<p class="w3-large w3-right-align" style="text-shadow:1px 1px 0 #444">Importar alunos</p>
		<p class="w3-large w3-right-align" style="text-shadow:1px 1px 0 #444">Criar grupos</p>
		<p class="w3-large w3-right-align" style="text-shadow:1px 1px 0 #444">Criar atividades</p>
		<p class="w3-large w3-right-align" style="text-shadow:1px 1px 0 #444">Sortear aluno ou grupo para realizar um determinada tarefa</p>
	</div>
{% endblock %}