{% extends "base.html" %}
{% block body %}
	<div class="w3-display-left" style="padding:48px">
		<p class="w3-jumbo w3-hide-small w3-text-white" style="text-shadow:1px 1px 0 #444"><strong>Sistema de gerenciamento de atividades</strong></p>
		<p class="w3-xxlarge w3-hide-large w3-hide-medium w3-text-white" style="text-shadow:1px 1px 0 #444"><strong>Sistema de gerenciamento de atividades</strong></p>
		<p class="w3-large w3-right-align" style="text-shadow:1px 1px 0 #444"><a href="{% url 'importar_alunos'%}">Importar alunos</a></p>
		<p class="w3-large w3-right-align" style="text-shadow:1px 1px 0 #444"><a href="{% url 'criar_grupo'%}">Criar grupos</a></p>
		<p class="w3-large w3-right-align" style="text-shadow:1px 1px 0 #444"><a href="{% url 'criar_tarefa'%}">Criar atividades</a></p>
		<p class="w3-large w3-right-align" style="text-shadow:1px 1px 0 #444"><a href="{% url 'listar_tarefas'%}">Sortear aluno ou grupo para realizar um determinada tarefa</a></p>
	</div>
{% endblock %}