{% extends "base.html" %}
{% block body %}  
	{% if alunos %}
		<div style="margin-left: 4%; margin-right: 4%; padding-top: 5%;">
			<div class="w3-container w3-hide-small" style="text-shadow:1px 1px 0 #444;">
				<div class="row">
					<div class="col-sm-6 w3-text-white"><h2><strong>Alunos</strong></h2></div>
					<div class="col-sm-6"><a class="btn btn-primary pull-right" href="{% url 'importar'%}">
					<i class="fas fa-file-excel"></i> Importar Alunos</a></div>
				</div>
				<hr>
			</div>
			<div class="w3-container">
				<table class="w3-table-all" id="minhaTabela">
				<thead>
					<tr class="w3-light-blue">
						<th>Nome</th>
						<th>Grupo</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for aluno in alunos %}
						<tr>
							<td>{{aluno.nome}}</td>
							<td>{{aluno.grupo.descricao}}</td>
							<td style="text-align: center;"><a href="{% url 'grupo_aluno' aluno.id %}" class="btn btn-success">Selecionar grupo</a></td>
						</tr>
					{% endfor %}
				</tbody>
				</table>
			</div>
		</div>
	{% else %}
		<div style="margin-left: 4%; margin-right: 4%; padding-top: 4%;">
			<div class="w3-container w3-hide-small" style="text-shadow:1px 1px 0 #444;">
				<div class="row">
					<div class="col-sm-12"><a class="btn btn-primary pull-right" href="{% url 'importar'%}"> 
					<i class="fas fa-file-excel"></i> Importar Alunos</a></div>
					<div class="col-sm-12 w3-center"><h2 class="w3-text-white"><strong>Não existe alunos</strong></h2></div>
				</div>
			</div>
		</div>
	{% endif %}
	<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function(){
			$('#minhaTabela').DataTable({
				"language": {
				"lengthMenu": "Mostrando _MENU_ registros por página",
				"zeroRecords": "Nada encontrado",
				"info": "Mostrando página _PAGE_ de _PAGES_",
				"infoEmpty": "Nenhum registro disponível",
				"infoFiltered": "(filtrado de _MAX_ registros no total)"
				}
			});
		});
	</script>
{% endblock %}